<!--<p>start works!</p>-->
<div class="flex justify-content-between">
    <a href="home">
        <div class="flex align-items-center">
            <img class="logo" src="./assets/piano-logo-crop-klein.png" alt="Logo"><p class="text-primary pl-2">Piano App Trainer</p>
        </div>
    </a>
    <div class="flex align-items-center">
        <p-button [rounded]="true" [raised]="true"
            icon="pi pi-times-circle" (onClick)="closeCollection()"></p-button>
    </div>
</div>
<div class="flex justify-content-center">
<div class="lg:w-10 md:w-12 sm:w-12 flex flex-column">
    <div [innerHTML]="exerciseService.exercise.collection_description | markdown"></div>
    <div class="grid">
        <p-card class="sm:col-12 md:col-6 lg:col-3 opacity-90" *ngFor="let chap of exerciseService.exercise.list_of_exercises" [header]="chap.name">
            <div [innerHTML]="chap.chapter_description | markdown"></div>
            <ng-template pTemplate="footer">
                <div class="w-full">
                    <p-button [outlined]="true" icon="pi pi-arrow-right" (onClick)="openChapter(chap.id)"></p-button>
                </div>
            </ng-template>
        </p-card>
        <!--<app-chapter-view></app-chapter-view>-->
    </div>
</div>
</div>