<!--<p>start works!</p>-->
<p-sidebar [(visible)]="sidebarVisible">
    <ng-template pTemplate="header">
        <h3>Inhalt | {{ exerciseService.course.display_name }}</h3>
    </ng-template>
    <ng-template pTemplate="content max-h-screen">
        <p-listbox [options]="exerciseService.content_structure" [group]="true"
                    optionLabel="name" (onDblClick)="openCourseFromSidebar($event)"
                    class="w-full md:w-30rem max-h-screen" scrollHeight="100%">
            <ng-template let-group pTemplate="group">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-book"></i>
                    <span>{{ group.label }}</span>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-bookmark"></i>
                    <span>{{ item.label }}</span>
                </div>
            </ng-template>
        </p-listbox>
    </ng-template>
    <ng-template pTemplate="footer">User Code: {{ exerciseService.current_user_code }}</ng-template>
</p-sidebar>
<div class="flex justify-content-between">
    <div class="flex align-items-center gap-2">
        <a href="home">
            <div class="flex align-items-center">
                <img class="logo" src="./assets/piano-logo-crop-klein.png" alt="Logo">
                <p class="text-primary pl-2">Piano App Trainer</p>
            </div>
        </a>
        <p-button icon="pi pi-list" [rounded]="true" [raised]="true"
                (onClick)="toggleSidebar()">
        </p-button>
    </div>
    <div class="flex align-items-center">
        <p-button [rounded]="true" [raised]="true"
            icon="pi pi-times-circle" (onClick)="closeCourse()"></p-button>
    </div>
</div>
<div class="flex justify-content-center">
    <div class="lg:w-10 md:w-12 sm:w-12 flex flex-column">
        <h1 class="text-5xl">{{ exerciseService.course.display_name }}</h1>
        <div [innerHTML]="exerciseService.course.course_description | markdown"></div>
        <p-divider></p-divider>
        <div class="grid">
            <p-card class="sm:col-12 md:col-6 lg:col-4 opacity-90" [header]="coll.display_name"
                     *ngFor="let coll of exerciseService.course.list_of_collections">
                <p [innerHTML]="coll.collection_description | markdown"></p>
                <ng-template pTemplate="footer">
                    <div class="w-full">
                        <p-button [outlined]="true" icon="pi pi-arrow-right" (onClick)="openCollection(coll.id)"></p-button>
                    </div>
                </ng-template>
            </p-card>
            <!--<app-chapter-view></app-chapter-view>-->
        </div>
    </div>
</div>
