
<div class="flex justify-content-center">
    <div class="lg:w-3 md:w-6 sm:w-10 flex-column ">
        <h1 class="text-center text-5xl">Piano Lab Training</h1>
        <h3 class="text-center text-1xl">Code eingeben | Please enter code</h3>
    
        <div class="p-inputgroup">
            <input type="text" pInputText [formControl]="code" placeholder="Code"/>
            <p-button type="button" pAutoFocus [autofocus]="true" icon="pi pi-arrow-right"
                     styleClass="p-button-success" (onClick)="openCollectionOrCourse()"></p-button>
        </div>
    </div>
</div>